body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.ex1 {
  width: 666px;
  margin: auto;
}

div.center {
  text-align: center;
  margin: auto;
}

div.center-left {
  float: left;
  margin-left: 100px;
  margin-top: 350px;
}

button.start {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  font-weight: 600;
}

